.image-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 0 10px;
  grid-auto-rows: 10px;
  grid-auto-columns: 10px;
}

.image-list img {
  width: 100%;
  grid-row-end: span 2;
 
}

/* grid-column-end: span 2; */


/* common media query sizes
320px — 480px: Mobile devices.
481px — 768px: iPads, Tablets.
769px — 1024px: Small screens, laptops.
1025px — 1200px: Desktops, large screens.
1201px and more — Extra large screens, TV. */